[submodule "spring-petclinic-kotlin"]
	path = spring-petclinic-kotlin
	url = https://github.com/spring-petclinic/spring-petclinic-kotlin.git
[submodule "spring-petclinic-service"]
	path = spring-petclinic-service
	url = https://github.com/spring-petclinic/spring-petclinic-service.git
